body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

main {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
h1 {
  text-align: center;
}

#game-result {
  font-weight: bold;
  margin-top: 20px;
  font-size: 60px;
}
#section {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgb(227, 240, 249);
  width: 50%;
  border-radius: 10px;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin: 5px 0;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#form-message {
  margin-top: 10px;
  color: green;
}
.youResult,
.computerResult {
  text-align: center;
  color: #0056b3;
}
.red {
  color: red;
}
.green {
  color: green;
}
